############################################
# Parameter configuration
############################################
parameters:
    redis.host: localhost
    redis.port: 6379
# prefix for all keys (e.g. you have multiple teeparty apps on one server)
    redis.prefix: app.

# timeout when waiting for a new item from the queues
    queue.pop.timeout: 3

# This parameter will be set when invoking the worker console
#   worker.id: foo

services:
############################################
# Client configuration
############################################
    redis:
        class: \Redis
        calls:
            - [connect, ["%redis.host%", "%redis.port%"]]
    queue:
        class: \Teeparty\Client\PHPRedis
        arguments: 
            client: @redis
            worker_id: "%worker.id%"
        calls:
            - [setPrefix, ["%redis.prefix%"]]

############################################
# Logging configuration
############################################
    monolog.formatter.line:
        class: \Monolog\Formatter\LineFormatter
        arguments:
            # format: "%worker.id% %%datetime%% %%level_name%%: %%message%%\n"
            format: "%worker.id% %%datetime%% %%level_name%%: %%message%% %%context%%\n"
    monolog.handler.file:
        class: \Monolog\Handler\RotatingFileHandler
        arguments:
            filename: logs/debug.log
            maxFiles: 3
    monolog.handler.stdout:
        class: \Monolog\Handler\StreamHandler
        arguments:
            stream: php://stdout
        calls:
            - [setFormatter, [@monolog.formatter.line]]

    log:
        class: \Monolog\Logger
        arguments:
            name: worker
            handlers: 
                - @monolog.handler.stdout
