############################################
# Parameter configuration
############################################
parameters:
    redis.host: localhost
    redis.port: 6379
# prefix for all keys (e.g. you have multiple teeparty apps on one server
    redis.prefix: teeparty.

# default channels to listen
    channels:
        - foo
        - bar
        - baz

# timeout when waiting for a new item from the queues
    queue.pop.timeout: 3

# This parameter will be set when invoking the worker console
#   worker.id: foo

services:
############################################
# Queue configuration
############################################
    redis:
        class: \Redis
        calls:
            - [connect, ["%redis.host%", "%redis.port%"]]
    queue:
        class: \Teeparty\Queue\PHPRedis
        arguments: 
            client: @redis
            worker_id: "%worker.id%"
        calls:
            - [setPrefix, ["%redis.prefix%"]]

############################################
# Logging configuration
############################################
    monolog.formatter.line:
        class: \Monolog\Formatter\LineFormatter
        arguments:
            format: "%worker.id% %%datetime%% %%level_name%%: %%message%%\n"
            # format: "%worker.id% %%datetime%% %%level_name%%: %%message%% %%context%%\n"
    monolog.handler.file:
        class: \Monolog\Handler\RotatingFileHandler
        arguments:
            filename: logs/debug.log
            maxFiles: 3
    monolog.handler.stdout:
        class: \Monolog\Handler\StreamHandler
        calls:
            - [setFormatter, [@monolog.formatter.line]]
        arguments:
            stream: php://stdout
    monolog.processor.uid:
        class: \Monolog\Processor\UidProcessor

    log:
        class: \Monolog\Logger
        arguments:
            name: worker
            handlers: 
                - @monolog.handler.stdout
            processors:
                - @monolog.processor.uid

